<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Name}} Professor Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .dashboard-header {
            background-color: rgb(205, 219, 232);
            color: #000;
            padding: 20px;
            padding-top: 90px;
            text-align: center;
        }

        .dashboard-content {
            padding: 20px;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
    <body>

        <!--Navar section-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
            <a class="navbar-brand" href="{{url_for('index_page')}}">Team Maker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index_page')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('get_logout')}}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Dashboard Header -->
        <div class="dashboard-header">
            <h2>Professor Dashboard</h2>
            <p>Welcome, Professor {{name}}</p>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Students</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Team Maker</a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content dashboard-content">
            <div class="tab-pane container active" id="home">
                <div class="row mt-4">
                    <!-- Notes Card -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Your Students' Notes</h5>
                                <p class="card-text">View and manage your students' notes.</p>
                                <div class="text-center">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/pie_chart.jpeg')}}" alt="Notes Chart">
                                </div>
                                <p class="mt-3">Gain insights into your students' progress through interactive charts and analytics.</p>
                                <a href="#" class="btn btn-primary">View Notes</a>
                            </div>
                        </div>
                    </div>
            
                    <!-- Team Maker Card -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Create Teams with AI</h5>
                                <p class="card-text">Utilize historical data to create optimal teams.</p>
                                <div class="text-center">
                                    <img class="img-fluid" src="{{url_for('static', filename = 'img/ai_bulp.jpeg')}}" alt="AI Bulb">
                                </div>
                                <p class="mt-3">Leverage artificial intelligence to predict and form effective teams based on historical performance.</p>
                                <a href="#" class="btn btn-primary">View Predictions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane container fade" id="menu1">
                <!-- Students' list -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Course Statistics</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Average: {{ average }}</li>
                                    <li class="list-group-item">Max score: {{ max_score }}</li>
                                    <li class="list-group-item">Min score: {{ min_score }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Your Students' List</h4>
                                <ul class="list-group list-group-flush">
                                    {% for student in students %}
                                    <li class="list-group-item">
                                        <h5>{{ student.name }}</h5>
                                        <p class="mb-0">Score: {{ student.score }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                        
            <div class="tab-pane container fade" id="menu2">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">Team Maker Platform</h3>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Effortless Team Creation</h5>
                                <p class="card-text">This platform simplifies team creation based on individual scores. Just input the desired team size, and Team Maker will handle the rest.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Easy Configuration</h5>
                                <p class="card-text">For instance, if you need groups of 4, input '4' and you're set. Avoid using special characters for a seamless experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recommendations for Success</h5>
                                <p class="card-text">To ensure optimal results, follow best practices. For instance, avoid doing teams of more than the half of the class, the system will automatically create two groups.</p>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row justify-content-center mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Create Teams</h5>
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p style="color: red;">{{message}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <form action = "{{url_for('teams_page')}}" method = "post">
                                    <div style="margin-top: 10%; margin-bottom: 10%;" class="form-group">
                                        <label for="team_input">Number of team members per group</label>
                                        <input type="text" class="form-control" name="team_input" placeholder="Number of team members">
                                    </div>
                                    <button type="submit" class="btn btn-info btn-block">Create teams</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer with Sections -->
        <footer class="custom-footer" style="background-color: #6c757d; color: aliceblue; padding: 20px 0; margin-top: 70px;">
            <div class="container mt-4" style="text-align: center;">
                <div class="row">
                    <div class="col-md-4 footer-section">
                        <h4>About Team Maker</h4>
                        <p>Team Maker is a transformative project committed to revolutionizing the way teams are formed in educational settings. Our mission is to simplify the team formation process for educators, providing an intuitive dashboard and innovative features that enhance collaboration and enrich the learning experience.</p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <h4>Contact Team Maker</h4>
                        <p>Email: contact@teammaker.com</p>
                        <p>Phone: +123-456-7890</p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <h4>Visit Us</h4>
                        <p>Team Maker HQ</p>
                        <p>123 Innovation Avenue</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
    </body>
</html>