<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
    <body>
        <!--Navar section-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
            <a class="navbar-brand" href="{{url_for('index_page')}}">Team Maker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index_page')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('get_logout')}}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content content-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-4 text-center">Your Randomly Assigned Teams</h2>
                        <h4 class="text-center mb-4">Teams are formed based on scores, with consideration for similarity. If scores are similar or undefined, teams are assigned randomly.</h4>
                    </div>
                </div>
        
                <div class="row">
                    {% for team in teams %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center">Team {{ loop.index }}</h3>
                                <ul class="list-group list-group-flush">
                                    {% for member in team %}
                                    <li class="list-group-item">
                                        <h5>{{ member["name"] }}</h5>
                                        <p class="mb-0">Student ID: {{ member["student_id"] }}</p>
                                        <p class="mb-0">Score: {{ member["score"] }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
        
                    {% if loop.index % 3 == 0 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>        
        <!-- Footer with Sections -->
        <footer class="custom-footer" style="background-color: #6c757d; color: aliceblue; padding: 20px 0; margin-top: 70px;">
            <div class="container mt-4" style="text-align: center;">
                <div class="row">
                    <div class="col-md-4 footer-section">
                        <h4>About Team Maker</h4>
                        <p>Team Maker is a transformative project committed to revolutionizing the way teams are formed in educational settings. Our mission is to simplify the team formation process for educators, providing an intuitive dashboard and innovative features that enhance collaboration and enrich the learning experience.</p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <h4>Contact Team Maker</h4>
                        <p>Email: contact@teammaker.com</p>
                        <p>Phone: +123-456-7890</p>
                    </div>
                    <div class="col-md-4 footer-section">
                        <h4>Visit Us</h4>
                        <p>Team Maker HQ</p>
                        <p>123 Innovation Avenue</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>